{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}
<ul class="list-group">
    <li class="list-group-item">
        User: {{ user }}
    </li>
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
</ul>
{% block content %}
    <h1>Главная старница</h1>
    {% if posts %}
        {% for el in posts %}
            <div class="alert alert-warniing mt-2">
                <h3>{{ el.title }}</h3>
                <h3>{{ el.scale }}</h3>
                <p>{{ el.text }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас нет записей!</p>
    {% endif %}
{% endblock %}